.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 24px
}

.inputTodo {
  width: 450px;
  height: 40px;
  outline: none;
  border-radius: 8px 0 0 8px;
  padding: 0 18px;
  border:none;
}

.inputTodoSubmit {
  height: 40px;
  background-color:#0284c7;
  color: #fff;
  border: none;
  border-radius: 0px 8px 8px 0;

}

.todos {
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto ;
  flex-direction: column;
}